package view

templ HomePage() {
<html>
<head>

</head>
<body class="home">
	<div class="container">
		<div class="login-page clearfix">
			<div class="login-box auth0-box before">
				<a id="qsLoginBtn" class="btn btn-primary btn-lg btn-block" href="/login">SignIn</a>
			</div>
		</div>
	</div>
</body>
</html>

}