<div class="space-y-8">
    {{ range $group := .SupersetGroups }}
    <div class="bg-zinc-900 border border-cyan-700 rounded-lg overflow-hidden shadow-lg shadow-cyan-800/10">
        {{ range $index, $gymExercise := $group.Exercises }}
        <div class="{{ if gt $index 0 }} border-t border-dashed border-cyan-700/30 {{ end }}">
            {{ template "_exercise-block.html" (dict "GymExercise" $gymExercise "AllExercises" $.AllExercises "ActivityID" $.ActivityID "ParentIDs" $.ParentIDs) }}
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>