{{ block "header" . }}{{ end }}


{{ if .ActiveWorkoutID }}
    <script>document.body.classList.add('active-workout-banner-present');</script>
    <div class="fixed z-50
            bottom-28 left-4 right-4
            md:bottom-0 md:left-64 md:right-0 md:rounded-none">
        <div class="flex items-center gap-4 w-full mx-auto px-6 py-4 rounded-xl shadow-lg bg-zinc-800 text-white border border-cyan-700 md:rounded-none md:border-r-0 md:border-b-0">
            <svg class="w-8 h-8 text-cyan-500 mr-2 shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M12 20a8 8 0 100-16 8 8 0 000 16z" /></svg>
            <div class="flex-1 min-w-0">
                <p class="font-semibold truncate">You have an active workout in progress.</p>
            </div>
            <a href="/workouts/{{ .ActiveWorkoutID }}/edit" class="shrink-0 ml-auto inline-flex items-center px-4 py-2 bg-cyan-700 text-white rounded-md font-semibold shadow hover:bg-cyan-600 transition-colors border border-cyan-700">Return</a>
            <form method="POST" action="/discard-activity/{{ .ActiveWorkoutID }}" hx-post="/discard-activity/{{ .ActiveWorkoutID }}" hx-target="#content" hx-swap="innerHTML" onsubmit="return confirm('Are you sure you want to discard your active workout?');">
                <button type="submit" class="shrink-0 inline-flex items-center px-4 py-2 bg-red-600 text-white rounded-md font-semibold shadow hover:bg-red-700 transition-colors border border-red-600">Discard</button>
            </form>
        </div>
    </div>
{{ else }}
    <script>document.body.classList.remove('active-workout-banner-present');</script>
{{ end }}

{{ block "navbar" . }}{{ end }}